<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Assignment 2</title>
</head>

<body>
  <form>
    <fieldset class="todo-list">
      <legend class="todo-list__title">Todo List</legend>

      <% for (let i=0; i < items.length; i++) { %>

      <label class="todo-list__label">
        <input type="checkbox" name="" id="" />
        <i class="check"></i>
        <span><%= items[i] %></span>
      </label>
      
      <% } %>

    </fieldset>
  </form>

</body>

</html>