<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
</head>
<body>
    <form action="/myForm" method="POST">
        <textarea name="items" placeholder="enter items seperated by commas"></textarea>
        <button type="submit">send</button>
    </form>
</body>
</html>