@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  background-color: rgb(53, 53, 65);
}

.todo-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 75px 10px 30px;
  background: #000000 ;
  border-radius: 10px;
}
.todo-list .todo-list__title {
  padding: 3px 6px;
  color: #f1faee;
  background-color: #26275c;
}
.todo-list .todo-list__label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 40px 0;
  font-size: 24px;
  font-family: Lato, sans-serif;
  color: #f1faee;
  cursor: pointer;
}
.todo-list .todo-list__label input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  border-radius: 3px;
}

.todo-list .todo-list__label input[type="checkbox"]:checked ~ span {
  color: #585b57;
}

